/* Логотип */
.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: $title-color;
  text-decoration: none;
  font-family: $additional-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header__logo--accent {
  color: $accent-color;
}

.footer__logo{
  display: block;
  margin-right: 93px;
  margin-bottom: 20px;
  color: $accent-color;
  text-decoration: none;
  font-family: $additional-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer__logo--whited {
  color: $text-white;
}