.modal-form{
  padding: 40px;
}


.modal-form__title{
display: inline-block;
margin-bottom:12px;  
font-style: 700;
Font-size: 20px;
Line-height: 1.15;
Align: Center;
vertical-align: Top;
Letter-spacing: 0.03em;
color:$title-color;
}

