.qualities {
  display: flex;
}

.section-name--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.qualities__table {
  margin-top: 0;
  margin-bottom: 10px;
  color: $title-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.qualities__item {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  flex-basis: calc((100% - 120px) / 4);

&:last-child {
  margin-right: 0;
}
}

.qualities__text {
  margin-top: 10px;
  margin-bottom: 0;
  color: $primary-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.qualities--no-hover {
  display: flex;
  padding: 25px 100px;
  margin-bottom: 30px;
  height: 120px;
  background: #f5f4fa;
  justify-content: center;
  align-items: center;
}

.qualities__icon-antenna,
.qualities__icon-clock,
.qualities__icon-diagram,
.qualities__icon-astronaut {
  width: 70px;
  height: 70px;
}