.section-team {
  background-color: $secondary-bgc;
}

.section-team__title {
  margin-bottom: 50px;
  color: $title-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}