$primary-text-color: #757575;
$title-color: #212121;
$text-white: #ffffff;
$primary-bgc: #ffffff;
$secondary-bgc: #f5f4fa;
$footer-bcg: #2f303a;
$accent-color: #2196f3;

$primary-font:"Roboto", "Arial", sans-serif;
$additional-font:"Raleway", sans-serif;